.source-card{
    height:150px;
    width:250px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 2px hwb(0 87% 11%);
    margin: 10px;
    cursor: pointer;
}